/* .galaxy-container {
  width: 100%;
  height: 100%;
  position: relative;
} */


.galaxy-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;   /* galaxy above background */
  /* pointer-events: none; optional: lets clicks pass through */
}